<div class="row">
	<% @grams.shuffle.each do | gram | %>
		<div class="col-10 offset-1 col-sm-6 offset-sm-1 col-md-3 offset-md-1 ml-auto mr-auto">
			<div class="card">
				<div class="text-right user mb-0 mt-1">
					<%= gram.user.username %>
				</div>
				<div class="text-right user mt-0 mb-1" style="color:black; font-weight: normal;">
					<%= gram.created_at.strftime('%B %d, %Y') %>
				</div>
				<%= link_to gram_path(gram) do %>
					<%= image_tag gram.picture.url, class: 'img-fluid' %>
				<% end %>
				<p class="pb-2">
					<% if gram.message.present? %>
						<%= gram.message %>
						<br />
					<% end %>
				</p>
				
				<% if gram.comments.present? %>
					<hr class="hr_solid mt-0" />

					<% gram.comments.order(id: :desc).limit(2).each do |comment| %>
						<div class="comment col-12 mt-2">
							<span class="comment_user">
								<%= comment.user.username %><br />
							</span>
							<span class="c_message offset-1 mb-0">
								<%= comment.message %>
							</span>
						</div>
					<% end %>

					<%= link_to gram_path(gram) do %>
						<div class="text-right comment_user mt-0">
							See More Comments
						</div>
					<% end %>
				<% end %>
			</div>
		</div>
	<% end %>
</div>
<br />
