<div class="col-12 ml-auto mr-auto">
<div class="grid">
	<% @grams.shuffle.each do | gram | %>
			<div class="grid-item card">
				<%= link_to gram_path(gram) do %>
					<%= image_tag gram.picture.url, class: 'img-fluid', style: 'min-width: 20%;' %>
				<% end %>
				<div class="col-12 mt-1 caption text-center">
					<% if gram.message.present? %>
						<b><%= gram.message %></b>
					<% end %>
				</div>
				<div class="text-left user mb-0 mt-0">
					<%= gram.user.username %>
				</div>
				<div class="text-left user mt-0 mb-1" style="color:black; font-weight: normal;">
					<%= gram.created_at.strftime('%B %d, %Y') %>
				</div>
				
				<% if gram.comments.present? %>
					<hr class="hr_solid mt-0" />

					<% gram.comments.order(id: :desc).limit(2).each do |comment| %>
						<div class="comment text-left col-12 mt-1">
							<span class="comment_user">
								<%= comment.user.username %><br />
							</span>
							<span class="c_message offset-1 mb-0">
								<%= comment.message %>
							</span>
						</div>
					<% end %>
					<% if gram.comments.count > 2 %>
						<%= link_to gram_path(gram) do %>
							<div class="text-right comment_user mt-0">
								See All Comments
							</div>
						<% end %>
					<% end %>
				<% end %>
			</div>
	<% end %>
</div>
<br />
</div>